* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Horizontal navigation bar styling */
.horizontal-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #182741;
  padding: 15px 30px;
  color: white;
  overflow: hidden;
  width: 100%;
  top: 0;
  position: fixed;
}

.horizontal-nav .logo h1 {
  margin: 0;
  font-size: 24px;
}

.horizontal-nav .nav-links ul {
  list-style-type: none;
}

.horizontal-nav .nav-links ul li {
  display: inline-block;
  margin-right: 20px;
}

.horizontal-nav .nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.horizontal-nav .nav-links ul li a:hover {
  text-decoration: underline;
}

.horizontal-nav .search {
  display: flex;
  align-items: center;
}

.horizontal-nav .search input {
  padding: 5px;
  font-size: 14px;
}

.horizontal-nav .search button {
  padding: 5px 10px;
  background-color: #555;
  color: rgb(153, 131, 131);
  border: 1px solid black;
  cursor: pointer;
}

/*............*/
.horizontal-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #090e3d;

  border-bottom: 1px solid #ddd;
}

.dashboard {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.dashboard i {
  margin-right: 10px;
  font-size: 24px;
}

.nav-links a {
  margin-right: 20px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.search-container {
  position: relative;
}

.search-container input {
  padding: 5px 35px 5px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.search-container i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #ccc;
}

.sidenav {
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  background: #ecf0f1;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #0c385c;
  display: block;
}

.sidenav a:hover {
  color: #779fc0;
}

.main {
  margin-left: 200px;
  /* Same width as the sidebar + left position in px */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 16px;
  margin-top: 45px;
  height: 2000px;
}

@media screen and (max-height: 700px) {
  .sidenav {
    padding-top: 60px;
  }

  .sidenav a {
    font-size: 14px;
  }
}

.profile-pic img {
  width: 100px;
  height: 100px;
  background-color: rgb(31, 37, 39);
  align-items: left;
  top: 50px;
  border-radius: 50%;
}

.profile-pic img {
  flex: 1;
  margin-left: 100px;
}

.profile-pic img {
  border-bottom: 50%;
  border: 1px solid #f2ebeb;
}

.profile-container {
  text-align: left;
  background-color: #49436d;
  padding: 20px;
  border-radius: 0px;
  width: 100%;
  color: rgb(78, 75, 75);
  margin-right: 40px;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-details {
  margin-left: 20px;
  align-items: center;
}

.profile-details h2 {
  margin-bottom: 5px;
  text-align: left;
  color: #fff;
  margin-bottom: 0;
  font-size: 20px;
}

.profile-details p {
  text-align: center;
  font-size: 14px;
  color: rgb(26, 21, 21);
}

.membership-status {
  display: inline-flex;
  background-color: #888;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 10px;
}

.profile-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: right;
}

.view-orders {
  background-color: #49436d;
  color: white;
  border: 1px solid white;
  margin-bottom: 10px;
  margin-left: 100px;
  text-align: right;
}

.update-info {
  background-color: black;
  color: white;
  margin-bottom: 10px;
  margin-left: 100px;
  text-align: right;
}

/*------------------------------------*/
.account-overview-container,
.recent-activity-container,
.personal-information-container,
.payment-methods-container,
#footer-content-wrapper {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: auto;
  width: 100%;
  margin-bottom: 0px;
  border: 1px solid black;
}

.recent-activity-container,
.personal-information-container,
.payment-methods-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  color: #3f3f3f;
  margin-bottom: 20px;
  font-size: 15px;
}

.redeem-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
  text-align: center;
}

.redeem-button:hover {
  background-color: #333;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 40%;
  border: 1px solid rgb(199, 193, 193);
}

.info-box h2 {
  font-size: 28px;
  margin: 0;
  text-align: left;
}

.info-box p {
  margin: 5px 0;
  color: #999;
  text-align: left;
}

.recent-activity-container {
  display: flex;
  justify-content: space-around;
}

.activity-items {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 40%;
}

.activity-items h3 {
  font-size: 14px;
  margin: 0;
  text-align: center;
}

.activity-items p {
  margin: 6px 0;
  color: #797878;
  text-align: center;
  font-size: 12px;
}

.activity-items img {
  width: 50px;
  height: 50px;
}

.personal-information-container h1 {
  text-align: center;
  /* Aligns the title and paragraph to the left */
  width: 100%;
  margin-left: 175px;
}

.form-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* Aligns the title and paragraph to the left */
  width: 100%;
  margin-left: 200px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 30px;
}

.form-group {
  margin-bottom: 15px;
  align-items: flex-start;
  text-align: left;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

input::placeholder {
  color: #ccc;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  padding: 10px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.personal-information {
  background-color: white;
  padding: 50px;
  width: 500px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  text-align: center;
  align-items: center;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-right: 40px;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-bottom: 50%;
  border: 1px solid #ffffff;
  margin-left: 120px;
  margin-bottom: 100px;
}

.cancel-btn {
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  text-align: left;
  /* Aligns the title and paragraph to the left */
  width: 15%;
  margin-right: 10px;
}

.save-btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: left;
  /* Aligns the title and paragraph to the left */
}

/*payment methods*/
.payment-methods {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(255, 251, 251, 0.1);
  align-items: center;
  text-align: center;
  /* Aligns the Save Changes button and content to the left */
  padding: 40px;
  width: 400px;
}

.payment-methods h1,
.payment-methods p {
  text-align: center;
  /* Aligns the title and paragraph to the left */
  width: auto;
  margin-left: 20px;
  /* Ensures it stays fully left-aligned */
}

.payment-methods p {
  font-size: 13px;
}

.input-detail {
  display: flex;
  flex-direction: column;
  text-align: center;

  align-items: center;
  margin-bottom: 20px;
}

.input-detail label,
.form-group label {
  font-size: 15px;
  margin-bottom: 10px;
  align-self: flex-start;
  padding: 5px;
}

.form-group input {
  padding: 10px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-self: flex-start;
}

select {
  padding: 10px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-self: flex-start;
}

.input-detail input {
  padding: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-self: flex-start;

  width: 100%;
  text-align: center;
  max-width: 300px;
}

/*-----------------------------------*/

#footer-content-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-content h2 {
  text-transform: uppercase;
  font-size: 18px;
}

.footer-content a {
  text-decoration: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.751);
}

#mail-container,
#phone-container {
  display: flex;
  margin-bottom: 30px;
}

.footer-icon {
  height: 22px;
  margin-right: 10%;
}

#footer-copyright {
  border-top: 1px solid #ccc;
  margin-top: 0%;
  text-align: center;
  font-size: 16px;
}

/* Main Content
.main-content {
    flex: 1;
    background-color: #ecf0f1;
    padding: 20px;
} */

/* Inventory Overview */
.inventory-overview {
  margin-top: 20px;
}

.inventory-overview .overview-summary {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.overview-item {
  background-color: white;
  padding: 20px;
  text-align: center;
  flex: 1;
  margin: 0 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stock-chart {
  margin-top: 20px;
}

.stock-chart img {
  width: 100%;
}

/* Low Stock Items */
.low-stock-items {
  margin-top: 20px;
}

.low-stock-list {
  display: flex;
  justify-content: space-between;
}

.stock-item {
  background-color: white;
  padding: 20px;
  text-align: center;
  flex: 1;
  margin: 0 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table Styles */
table {
  width: 100%;
  max-width: 1000px;
  background-color: white;
  border-collapse: collapse;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-size: 15px;
}

table th,
table td {
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
}

table th {
  background-color: #000000;
  color: white;
}

button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0a5f7b;
}

body {
  margin: 0%;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

#dashboard-header {
  background-color: #333333db;
  color: white;
  padding: 20px 70px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-img-text-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  font-size: 15px;
  gap: 0px;
}

#header-img-text-wrapper * {
  margin: 10px 0;
}

.role {
  background-color: #007bff;
  color: white;
  width: fit-content;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
}

#logout-button {
  background-color: #ff0000;
  color: white;
  font-size: 17px;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid white;
}

#logout-button:hover {
  background-color: #cc0000;
  border: 3px solid white;
}

#back-button {
  background-color: #008000;
  color: white;
  font-size: 17px;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid white;
}

#back-button:hover {
  background-color: #006400;
  border: 3px solid white;
}

#img-wrapper {
  background-color: rgb(219, 219, 219);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-wrapper img {
  width: 90px;
  border-radius: 50%;
}

nav {
  height: 50px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: rgb(0, 88, 177);
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
  padding-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px 20px;
}

#customer-details,
#employee-details,
#order-details,
#services-details {
  margin: 80px auto;
}

.section-header {
  margin: 40px 10% 20px 10%;
  font-size: 30px;
}

.add-btn {
  margin: 10px 10%;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid rgb(189, 239, 255);
}

.add-btn:hover {
  background-color: #1b81ee;
  border: 2px solid rgb(169, 225, 244);
}

.table-wrapper {
  max-height: 300px;
  width: 80%;
  margin: auto;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #bdbdbd;
  color: #333;
}

table tr:nth-child(even) {
  background-color: rgba(223, 223, 223, 0.5);
}

table tr:nth-child(odd) {
  background-color: white;
}

table tr:hover {
  background-color: #dbe7f3;
}

.update-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.update-btn:hover {
  background-color: #45a049;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

#add-alert-wrapper,
#update-alert-wrapper,
#delete-alert-wrapper {
  width: 100%;
  display: grid;
  place-items: center;
}

footer {
  border-top: 1px solid #737373;
}
